 <article style="margin-top: 54px;">
 <form action="" method="post" enctype="multipart/form-data">
            <ul class="xunjia-box">
			 <li class="inner">
                    <div class="item-name">联系电话：</div>
                    <div class="item-value">
                     <div class="input-wrap">
                            <input type="text" ng-model="BusLimit.bune_tel">
                        </div>
                    </div>
                </li>
				 <li class="inner">
                    <div class="item-name">乘车人数(人)：</div>
                    <div class="item-value">
                        <div class="input-wrap">
                            <input type="text" ng-model="BusLimit.bune_num">
                        </div>
                    </div>
                </li>
                <li class="inner">
                    <div class="item-name">用车时长（天）：</div>
                    <div class="item-value">
                    <div class="input-wrap">
                            <input type="text" ng-model="BusLimit.bune_time">
                        </div>
                       
                    </div>
                </li>
                 <li class="inner">
                    <div class="item-name">集合时间：</div>
                    <div class="item-value">
                    <div class="input-wrap">
                            <input type="text" ng-model="BusLimit.bune_gath_time">
                        </div>
                       
                    </div>
                </li>
                 <li class="inner">
                    <div class="item-name">集合地点：</div>
                    <div class="item-value">
                    <div class="input-wrap">
                            <input type="text" ng-model="BusLimit.bune_gath_pla">
                        </div>
                       
                    </div>
                </li>
                <li class="inner">
                    <div class="item-name">目的地点：</div>
                    <div class="item-value">
                    <div class="input-wrap">
                            <input type="text" ng-model="BusLimit.bune_goal_pla">
                        </div>
                       
                    </div>
                </li>
                 <li class="inner innerP">
                    <div class="item-name">包车用途：</div>
                    <div class="item-value">
                        <div class="p-wrap">
                           <textarea  ng-model="BusLimit.bune_purp"></textarea>
                        </div>
                    </div>
                </li>
                <li class="inner innerP">
                    <div class="item-name">其他备注：</div>
                    <div class="item-value">
                        <div class="p-wrap">
                           <textarea ng-model="BusLimit.bune_remark"></textarea>
                        </div>
                    </div>
                </li>
				<!-- <li class="inner">
                    <div class="item-name">同意租赁条款：</div>
                    <div class="item-value">
                        <input type="checkbox"/>
                    </div>
                </li> -->
				<li class="inner">
                    
                    <div class="item-value" style="margin-right:90px">
                         <div class="a-wrap">
                           <input type="button" class="weui_btn weui_btn_primary" value="提交" ng-click="addBusNeed()">
                         </div>
                    </div>
                </li>
            </ul>
            </form>
        </article>