
<article style="margin-top: 45px;">
 
       <!--         <form ng-submit="addBusNeed()" method="post" enctype="multipart/form-data">
                
                 <div class="inner">
                  <div class="item-name" style="float:left">出发时间：</div>
                   
                            <input type="text" name="startTime" style="float:left" ng-model="BusLimit.bune_gath_time"
						class="dfselect dateLayoutStyle" 
						onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) " required>
						
                </div>
               
              </form> -->
             <ul ng-repeat="bnl in busNeedList">  
              <li class="weui_cell" >
                    <div class="weui_cell_bd weui_cell_primary">
                        <div class="wuliao-title">
                            <label>需求编号：</label>
                            <span>{{bnl.bune_id}}</span>
                        </div>
                        <div class="detail clearfix">
                            <span class="date">用车时间：{{bnl.bune_gath_time.time | dateType}}</span>
                        </div>
						   <div class="detail clearfix">
                            <span class="require">目的地点：<label>{{bnl.bune_goal_pla}}</label></span>
                         <span class="result">交易状态：<label>进行中</label></span> 
                        </div>
                        
                        <div class="org">
                            <span>包车用途：{{bnl.bune_purp}}</span>
                            <label class="green" ng-click="getBusNeed(bnl.id)">详情</label>
                        </div>
                    </div>
                </li>
                
                </ul>
                 

        </article>
        
 <script type="text/javascript">
          $(".switch").click(function(){
            $(this).find(".tip-text").hide();
            $(this).find(".chosen").show();
            $(".box").addClass("choose");
            $("footer").show();
          });

          $(".button").click(function(){
            $(this).find(".tip-text").show();
            $(this).find(".chosen").hide();
            $(".box").removeClass("choose");
            $("footer").hide();
          })
        </script>