<header >
    <div class="titlebar reverse">
        <h1>信息查询</h1>
    </div>
    <ul class="tabbar animate-slide width-full" data-col="2" id="tabbar">
        <li class="tab" ng-class="{true:'active',false:'inactive'}[show.isActive7]" ng-click="changebarr(7)" >
            <label class="tab-label">我的发布</label>
        </li>
        <li class="tab" ng-class="{true:'active',false:'inactive'}[show.isActive8]" ng-click="changebarr(8)">
            <label class="tab-label">我的货车</label>
        </li>
        <li class="tab" ng-class="{true:'active',false:'inactive'}[show.isActive9]" ng-click="changebarr(9)">
            <label class="tab-label">我的货物</label>
        </li>
        <hr>
    </ul>
</header>