<article style="margin-top: 60px;" >
	<form ng-submit="selectTruckSend()" method="post" enctype="multipart/form-data">

		<div class="inner" >
			<input type="text" name="startTime" style="width:25%;margin-left:10px;float: left"
				ng-model="startDate" class="dfselect dateLayoutStyle" placeHolder="起始时间"
				onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "
				required><div style="float: left;margin-right:10px">—</div>

			<input type="text" name="endTime" style="width:25%;float: left"
				ng-model="endDate" class="dfselect dateLayoutStyle" placeHolder="截止时间"
				onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) "
				required>
				
			<input type="text" name="trse_eplace" style="width:25%;float: left"
				ng-model="trse_eplace" class="dfselect dateLayoutStyle" placeHolder="目的地"
				required>	
		</div>
		<div class="org">
			<span><input type="submit" class="weui_btn weui_btn_primary" value="查询">
		</div>
	</form>
	<br/>
	<ul ng-repeat="trckInfo in selectTruckSendList">
		<li class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary">
				<div class="wuliao-title">
					<label>需求编号：</label> <span>{{trckInfo.trse_id}}</span>
				</div>
				<div class="detail clearfix">
					<span class="date">剩余载重：{{trckInfo.trse_left_load}}</span>
				</div>
				<div class="detail clearfix">
					<span class="date">始发地：{{trckInfo.trse_splace}}</span>
				</div>
				<div class="detail clearfix">
					<span class="require">目的地：<label>{{trckInfo.trse_eplace}}</label></span>
				</div>
				<div class="detail clearfix">
					<span class="require">价格：<label>{{trckInfo.trse_price}}</label></span>
				</div>
				<div class="detail clearfix">
					<span class="require">出发时间：<label>{{trckInfo.trse_time}}</label></span>
				</div>
			</div>
		</li>

	</ul>

</article>

<script type="text/javascript">
	$(".switch").click(function() {
		$(this).find(".tip-text").hide();
		$(this).find(".chosen").show();
		$(".box").addClass("choose");
		$("footer").show();
	});

	$(".button").click(function() {
		$(this).find(".tip-text").show();
		$(this).find(".chosen").hide();
		$(".box").removeClass("choose");
		$("footer").hide();
	})
</script>