 <header >
            <div class="titlebar reverse">
                <h1>信息查询</h1>
            </div>
            <ul class="tabbar animate-slide width-full" data-col="3" id="tabbar">
                <li class="tab" ng-class="{true:'active',false:'inactive'}[show.isActive0]" ng-click="changebar(0)" >
                    <label class="tab-label">司机车辆信息</label>
                </li>
                <li class="tab" ng-class="{true:'active',false:'inactive'}[show.isActive1]" ng-click="changebar(1)">
                    <label class="tab-label">车主信息</label>
                </li>
                <li class="tab" ng-class="{true:'active',false:'inactive'}[show.isActive2]" ng-click="changebar(2)">
                    <label class="tab-label">货主信息</label>
                </li>
                <hr>
            </ul>
</header>