<article style="margin-top: 54px; ">
 	<form ng-submit="addTruckDriver()" method="post" enctype="multipart/form-data"
 		style="overflow:hidden;">
		<ul class="form-box">
			<li class="inner">
				<div class="item-name">货车载重量：</div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="truckLimit.trck_load">
					</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">姓名：</div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="driverLimit.smgo_weight" >
					</div>
				</div>
			</li>

			<li class="inner">
				<div class="item-name">工作：</div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="driverLimit.smgo_start" placeholder="洛川" required>
					</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">联系方式：</div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="driverLimit.smgo_end" required>
					</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">身份证号：</div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="driverLimit.smgo_sender" required>
					</div>
				</div>
			</li>
			
			<li class="inner">
                    <div class="item-name">初次领取驾照日期：</div>
                    <div class="item-value">
                    <div class="input-wrap">
                        <input type="text" ng-model="driverLimit.smgo_send_time"
					class="dfselect dateLayoutStyle" 
					onFocus="WdatePicker(WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd',readOnly:'true',onpicked: function(){$(this).trigger('change')}})) " required>
                        </div> 
                    </div>
            </li>
			
			<li class="inner">
				<div class="item-name">驾驶证照片：</div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="driverLimit.smgo_sender_tel" required>
					</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">司机照片：</div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="driverLimit.smgo_receiver" required>
					</div>
				</div>  
			</li>
			
			<li class="inner">
				<div class="item-name">汽车照片：</div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="driverLimit.smgo_receiver_tel" required>
					</div>
				</div>
			</li>
			
			<div id="addSegoAdd">

			</div>
			
			<li class="inner innerP">
				<div class="item-name">备注：</div>
				<div class="item-value">
					<div class="p-wrap">
						<textarea type="text" ng-model="driverLimit.smgo_remark" ></textarea>
					</div>
				</div>
			</li>
			
			
			<div style="width:127px;margin:auto;" >
				<input type="radio" name="radio" ng-model="truckLimit.smgo_sego" ng-value="0" style="-webkit-appearance:radio;"><span>未冷冻</span>
				<input type="radio" name="radio" ng-model="truckLimit.smgo_sego" ng-value="1" style="-webkit-appearance:radio;"><span>冷冻</span>
			</div>
			
			<li class="inner">
				<div class="item-value" style="margin-right:90px">
					<div class="a-wrap">
						<input type="submit" class="weui_btn weui_btn_primary" value="提交">
					</div>
 				</div>
			</li>
		</ul>
		
	</form>
</article>