
<header>
	<div class="titlebar reverse">
		<h1>信息录入</h1>
	</div>
	<ul class="tabbar animate-slide width-full" data-col="2" id="tabbar">
		<li class="tab"
			ng-class="{true:'active',false:'inactive'}[show.isActive0]"
			ng-click="changebar(1,selectUserTruck)"><label class="tab-label">发布运货需求</label>
		</li>
		<li class="tab"
			ng-class="{true:'active',false:'inactive'}[show.isActive1]"
			ng-click="changebar(0,isAddedTruck)"><label class="tab-label">司机车辆信息</label>
		</li>
		<hr>
	</ul>
</header>


<article style="margin-top: 85px;">
	<div id="table1">
		<form ng-submit="addTruckSend()" method="post"
			enctype="multipart/form-data" style="overflow: hidden;"
			name="angularForm">
			<ul class="form-box">
				<li class="inner addTable">
					<div class="item-name">
						车辆选择<b class="lableimport">*</b>
					</div>
					<div style="padding-left: 5px; padding-right: 15px;">
						<select class="select-box" ng-model="trseLimit.trck_id"
							id="ad-type" required>
							<option ng-repeat="t in truckList" value="{{t.trck_id}}"
								ng-show="{{t.trck_check}}==1">{{t.trck_number}}</option>

						</select>
					</div>
				</li>
				<li class="inner addTable">
					<div class="item-name">
						剩余载重(千克)<span class="lableimport">*</span>
					</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="text" ng-model="trseLimit.trse_left_load"
								name="leftLoad" placeholder="单位：千克" required
								ng-pattern="/^[0-9]+([.]{1}[0-9]{1,2})?$/"> <span
								class="formWarning"
								ng-show="angularForm.leftLoad.$error.pattern">请输入非负数整数或保留两位小数</span>
						</div>
					</div>
				</li>

				<li class="inner addTable">
					<div class="item-name">
						始发地<span class="lableimport">*</span>
					</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="text" ng-model="trseLimit.trse_splace" required
								name="trse_splace" ng-pattern="/^\S{1,15}$/"> <span
								class="formWarning"
								ng-show="angularForm.trse_splace.$error.pattern">输入长度在15个字以内</span>
						</div>
					</div>
				</li>

				<li class="inner addTable">
					<div class="item-name">
						目的地<span class="lableimport">*</span>
					</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="text" ng-model="trseLimit.trse_eplace" required
								name="trse_eplace" ng-pattern="/^\S{1,15}$/"> <span
								class="formWarning"
								ng-show="angularForm.trse_eplace.$error.pattern">输入长度在15个字以内</span>
						</div>
					</div>
				</li>

				<li class="inner addTable">
					<div class="item-name">
						价格(元/千克)<span class="lableimport">*</span>
					</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="text" ng-model="trseLimit.trse_price" name="price"
								required ng-pattern="/^[1-9]\d*$/"> <span
								class="formWarning" ng-show="angularForm.price.$error.pattern">请输入非零正整数</span>
						</div>
					</div>
				</li>

				<li class="inner addTable">
					<div class="item-name">
						出发时间<span class="lableimport">*</span>
					</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="date" ng-model="trseLimit.trse_time"
								class="select-box" ng-change="limitDate(trseLimit.trse_time)"
								required>
						</div>
					</div>
				</li>

				<li class="inner addTable""><input type="checkbox"
					style="-webkit-appearance: checkbox;" required> <span
					class="needToKonw" ng-click="showShadow()">我已阅读货运须知</span></li>

				<li class="inner addTable">
					<div class="item-value" style="margin-right: 90px">
						<div class="a-wrap">
							<input type="submit" class="weui_btn weui_btn_primary" value="提交"
								ng-disabled="angularForm.$invalid">
						</div>
					</div>
				</li>
			</ul>
		</form>
	</div>
	<!-- truckSend车主信息界面 -->
	<div id="table2" style="display: none">
		<form ng-submit="addTruckDriver()" method="post"
			enctype="multipart/form-data" style="overflow: hidden;"
			name="truckInfo">
			<ul class="form-box">
				<li class="inner addTable">
					<div class="item-name">
						姓名<span class="lableimport">*</span>
					</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="text" ng-model="driverLimit.driver_name" required
								name="driver_name" ng-pattern="/^\S{1,15}$/"> <span
								class="formWarning"
								ng-show="truckInfo.driver_name.$error.pattern">输入长度在15个字以内</span>
						</div>
					</div>
				</li>

				<li class="inner addTable">
					<div class="item-name">工作：</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="text" ng-model="driverLimit.driver_job"
								name="driver_job" ng-pattern="/^\S{1,15}$/"> <span
								class="formWarning"
								ng-show="truckInfo.driver_job.$error.pattern">输入长度在15个字以内</span>
						</div>
					</div>
				</li>

				<li class="inner addTable">
					<div class="item-name">
						联系方式<span class="lableimport">*</span>
					</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="text" ng-model="driverLimit.driver_tel" required
								name=phone ng-pattern="/^1[3|4|5|7|8]\d{9}$/"> <span
								class="formWarning" ng-show="truckInfo.phone.$error.pattern">手机格式不正确</span>
						</div>
					</div>
				</li>

				<li class="inner addTable">
					<div class="item-name">
						身份证号<span class="lableimport">*</span>
					</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="text" ng-model="driverLimit.driver_idcard" required
								name="IDCard"
								ng-pattern="/^\d{6}(18|19|20)?\d{2}(0[1-9]|1[12])(0[1-9]|[12]\d|3[01])\d{3}(\d|X)$/">
							<span class="formWarning"
								ng-show="truckInfo.IDCard.$error.pattern">身份证格式不正确</span>
						</div>
					</div>
				</li>
				<li class="inner addTable">
					<div class="item-name">
						货车载重量(吨)<span style="color: red">*</span>
					</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="text" ng-model="truckLimit.trck_load"
								name="trckLoad" placeholder="单位：吨" required
								ng-pattern="/^[0-9]+([.]{1}[0-9]{1,2})?$/"> <span
								class="formWarning" ng-show="truckInfo.trckLoad.$error.pattern">车载重量格式不正确</span>
						</div>
					</div>
				</li>
				<li class="inner addTable">
					<div class="item-name">
						驾驶证号<span class="lableimport">*</span>
					</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="text" ng-model="driverLimit.driver_license_number"
								required name="driver_license_number" ng-pattern="/^\S{1,15}$/">
							<span class="formWarning"
								ng-show="truckInfo.driver_license_number.$error.pattern">输入长度在15个字以内</span>
						</div>
					</div>
				</li>
				<li class="inner addTable">
					<div class="item-name">
						车牌号<span style="color: red">*</span>
					</div>
					<div class="item-value">
						<div class="input-wrap">
							<input type="text" ng-model="truckLimit.trck_number"
								name="trckNumber" required
								ng-pattern="/^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}$/">
							<span class="formWarning"
								ng-show="truckInfo.trckNumber.$error.pattern">车牌号格式不正确</span>
							</td>
						</div>
					</div>
				</li>
				<div style="width: 127px; margin: auto;">
					<input type="radio" name="radio" ng-model="truckLimit.is_freeze"
						ng-value="0"
						style="-webkit-appearance: radio; width: 20px; heigth: 20px;">
					<span style="font-size: 15px">未冷冻</span> <input type="radio"
						name="radio" ng-model="truckLimit.is_freeze" ng-value="1"
						style="-webkit-appearance: radio; width: 20px; heigth: 20px;">
					<span style="font-size: 15px">冷冻</span>
				</div>

				<li class="inner addTable""><input type="checkbox"
					style="-webkit-appearance: checkbox;" required> <span
					class="needToKonw" ng-click="showShadow()">我已阅读货运须知</span></li>

				<li class="inner addTable">
					<div class="item-value" style="margin-right: 90px">
						<div class="a-wrap">
							<input type="submit" class="weui_btn weui_btn_primary" value="提交"
								ng-disabled="truckInfo.$invalid">
						</div>
					</div>
				</li>
			</ul>

		</form>

	</div>

	<div class="shadowbox" style="height: 400px">
		<div class="shadowbox-title">货运须知</div>
		<div class="shadowbox-content">
			一、托运方的权利义务 <br />
			1．托运方的权利：要求承运方按照合同规定的时间、地点，把货物运输到目的地。货物托运后，托运方需要变更到货地点或收货人，或者取消托运时，有权向承运方提出变更合同的内容或解除合同的要求。
			但必须在货物未运到目的地之前通知承运方，并应按有关规定付给承运方所需费用。 <br />
			2．托运方的义务：按约定向承运方交付运杂费。否则，承运方有权停止运输，并要求对方支付违约金。托运方对托运的货物，应按照规定的标准进行包装，遵守有关危险品运输的规定，按照合同中规定的时间和数量交付托运货物。
			<br /> 二、托运方责任 <br /> 1．未按合同规定的时间和要求提供托运的货物，托运方应偿付给承运方给承运方违约金。 <br />
			2．由于在普通货物中夹带、匿报危险货物等而招致货物摔损、爆炸、腐蚀等事故，托运方应承担赔偿责任。 <br />
			3．由于货物包装缺陷产生破损，致使其它货物或运输工具、机械设备被污染腐蚀、损坏，造成人身伤亡的，托运方应承担赔偿责任。 <br />
			三、承运方的权利义务 <br />
			1．承运方的权利：向托运方、收货方收取运杂费用。如果收货方不交或不按时交纳规定的各种运杂费用，承运方对其货物有扣压权。查不到收货人或收货人拒绝提取货物，承运方应及时与托运方联系，在规定期限内负责保管并有权收取保管费用，
			对于超过规定期限仍无法交付的货物，承运方有权按有关规定予以处理。应托运方及收货人的要求，临时变更运输路线、到货地点而增加运输费用的，承运方有权向运输费用实际承担人收取。
			<br />
			2．承运方的义务：在合同规定的期限内，将货物运到指定的地点，按时向收货人发出货物到达的通知。对托运的货物要负责安全，保证货物无短缺、无损坏、无人为的变质，对货物的毁损、丢失、盗抢、事故、雨淋潮湿，
			混入其它物品而造成污染引起产品变质，造成产品外包装破损、弄脏等损失的均应承担赔偿义务。 <br />
			3、承运方保证向乙方提供合法有效的证件（驾驶证行驶证、营运证等相关证件），保险在有效期内，如因承运方自己过错导致车辆损失和货物损失的，由承运方承担赔偿责任，托运人概不负责。
			<br /> 四、承运方责任 <br /> 1．不按协议规定的时间和要求配车发运的，承运方应偿付给托运方违约金。 <br />
			2．承运方如将货物错运到货地点或接货人，应无条件运至合同规定的到货地点或接货人。如果货物逾期达到，承运方还应偿付逾期交货的违约金 。 <br />
			3．承运方没有履行或部分履行其义务的，应按货物的实际损失（包括包装费、运杂费）赔偿给托运方。 <br />
			4．联运的货物发生灭失、短少、变质、污染、损坏，应由承运方承担赔偿责任的，由终点阶段的承运方向负有责任的其它承运方追偿。 <br />
			5．在符合法律和协议规定条件下的运输，由于下列原因造成货物灭失、短少、变质、污染、损坏的，承运方不承担违约责任： <br />
			（1）不可抗力； <br />（2）货物本身的自然属性； <br />（3）货物的合理损耗； <br />（4）托运方或收货方本身的过错。
			<br /> 五、本客运站对承运过程中的纠纷不承担任何责任。 <br />

		</div>
		<input class="weui_btn weui_btn_primary" style="margin-top: 28px"
			ng-click="showShadow()" value="我已阅读并且同意">
	</div>

</article>

