<article style="margin-top: 48px;">
 			<form ng-submit="selectSmallGoods()" method="post" enctype="multipart/form-data" style="overflow:hidden;">
		    <ul class="form-box">
		    
				 <li style="border:groove;margin:2px;height:30px;">
                     <input type="text" ng-model="" placeholder="按单号／日期模糊搜索" 
                            style="height:25px;margin:auto;" ng-model="GolLimit.smgo_select" required>
                </li>	
                <li class="inner"> 
                    <div class="item-value" style="margin-right:90px">
                         <div class="a-wrap">
					           <input type="submit" class="weui_btn weui_btn_primary" value="查询" >

                         </div>
                    </div>
                </li>	
                
			</ul>
			</form>