<article style="margin-top: 48px; ">
 	<form ng-submit="addSmallGoods()" method="post" enctype="multipart/form-data"
 		style="overflow:hidden;">
		<ul class="form-box">
			<li class="inner">
				<div class="item-name">货物名称<span class="lableimport">*</span></div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="GoLimit.smgo_name" required>
					</div>
				</div>
			</li>
			
			<li class="inner" style="height:auto">
				<div class="item-name">货物重量<span class="lableimport">*</span></div>
				<div class="item-value">
					<div class="input-wrap">
						<input class="select-box" type="number" ng-model="GoLimit.smgo_weight" ng-blur="checkweight(GoLimit.smgo_weight)" 
						placeholder="单位：千克" required>
					</div>
					<div class="limitNum">请输入正确的货物重量</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">始发地<span class="lableimport">*</span></div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="GoLimit.smgo_start" placeholder="洛川" required>
					</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">目的地<span class="lableimport">*</span></div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="GoLimit.smgo_end" required>
					</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">发件人<span class="lableimport">*</span></div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="GoLimit.smgo_sender" required>
					</div>
				</div>
			</li>
			
			<li class="inner">
                    <div class="item-name">出发时间<span class="lableimport">*</span></div>
                    <div class="item-value">
                    <div class="input-wrap">
                        <input class="select-box" type="date" ng-model="GoLimit.smgo_send_time" required>
                    </div> 
                    </div>
            </li>
			
			<li class="inner" style="height:auto">
				<div class="item-name">发件人联系方式<span class="lableimport">*</span></div>
				<div class="item-value">
					<div class="input-wrap">
						<input class="select-box" type="number" ng-model="GoLimit.smgo_sender_tel" ng-blur="checknum(GoLimit.smgo_sender_tel)" required>
					</div>
					<div class="limitNum">请输入正确的手机号码</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">收件人<span class="lableimport">*</span></div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="GoLimit.smgo_receiver" required>
					</div>
				</div>
			</li>
			
			<li class="inner" style="height:auto">
				<div class="item-name">收件人联系方式<span class="lableimport">*</span></div>
				<div class="item-value">
					<div class="input-wrap">
						<input class="select-box" type="number" ng-model="GoLimit.smgo_receiver_tel" ng-blur="checknum(GoLimit.smgo_receiver_tel)" required>
					</div>
					<div class="limitNum">请输入正确的手机号码</div>
				</div>
			</li>
			<li class="inner">
				<div>
					<input type="radio" name="radio" ng-model="GoLimit.smgo_sego" ng-value="0" style="-webkit-appearance:radio;"><span>自行送货</span>
					<input type="radio" name="radio" ng-model="GoLimit.smgo_sego" ng-value="1" style="-webkit-appearance:radio;"><span>上门取货</span>
				</div>
			</li>
			<div id="addSegoAdd"></div>
			
			<li class="inner innerP">
				<div class="item-name">备注：</div>
				<div class="item-value">
					<div class="p-wrap">
						<textarea type="text" ng-model="GoLimit.smgo_remark" ></textarea>
					</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-value" style="margin-right:90px">
					<div class="a-wrap">
						<input type="submit" class="weui_btn weui_btn_primary" value="提交并显示货运详情">
					</div>
 				</div>
			</li>
		</ul>
		
	</form>
    </div>
 </article>
