<article style="margin-top: 54px; ">
 	<form ng-submit="addAdver()" method="post" enctype="multipart/form-data" name="angularForm">
		<ul class="form-box">
		
			<li  class="inner">
				<div class="item-name">广告类型<b>*</b></div>
				<div style="padding-left: 5px;padding-right: 15px; ">
					<select class="select-box" ng-model="ADLimit.ad_type" id="ad-type" required>
						<option>广告类型</option>
						<option value="0">旅游</option>
						<option value="1">招工</option>
						<option value="2">其他</option>				
					</select>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">广告名称<b>*</b></div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="ADLimit.ad_title" required>
					</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">联系人<b>*</b></div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="ADLimit.ad_name" required>
					</div>
				</div>
			</li>
			
<!-- 			<li class="inner" style="height:auto">
				<div class="item-name">联系方式<b>*</b></div>
				<div class="item-value">
					<div class="input-wrap">
						<input class="select-box" type="text" ng-model="ADLimit.ad_tel" ng-blur="checknum(ADLimit.ad_tel)" required>
					</div>
					<div class="limitNum">请输入正确的手机号码</div>
				</div>
			</li>  -->
			
			<li class="inner " style="height:auto" >
				<div class="item-name">联系方式<b>*</b></div>
				<div class="item-value">
					<div class="input-wrap">
						<input  type="text" ng-model="ADLimit.ad_tel"  required
							name="phone" ng-pattern="/^1[3|4|5|7|8]\d{9}$/">
					</div>
					<span class="formWaring"
						ng-show="angularForm.phone.$error.pattern">手机格式不正确</span>
				</div>
			</li > 

	
			<li class="inner">
                    <div class="item-name">截止日期<b>*</b></div>
                    <div class="item-value">
                    <div class="input-wrap">
                        <input class="select-box" type="date" ng-model="ADLimit.ad_etime" required>
                    </div> 
                    </div>
            </li>
			
			<li class="inner innerP">
				<div class="item-name">广告内容<b>*</b></div>
				<div class="item-value">
					<div class="p-wrap">
						<textarea type="text" ng-model="ADLimit.ad_content" required></textarea>
					</div>
				</div>
			</li>
			
			<li class="inner innerP">
				<div class="item-name">广告备注：</div>
				<div class="item-value">
					<div class="p-wrap">
						<textarea type="text" ng-model="ADLimit.ad_remark" ></textarea>
					</div>
				</div>
			</li>
			
			<li class="inner addTable"">
				<input type="checkbox" checked="true" style="-webkit-appearance:checkbox;" required>
				<span class="needToKonw" ng-click="showShadow()">我已阅读广告发布须知</span>
            </li>
			
			<li class="inner">
				<div class="item-value" style="margin-right:90px">
					<div class="a-wrap">
						<input type="submit" class="weui_btn weui_btn_primary" value="提交" ng-disabled="angularForm.$invalid" >
					</div>
 				</div>
			</li>
			
		</ul>
		
	</form>
	
<div class="shadowbox" style="height: 400px">
	<div class="shadowbox-title">广告发布须知</div>
	<div class="shadowbox-content">
 为促进商品和服务质量的提高，保护消费者的合法权益，遵守社会公德和职业道德，维护国家的尊严和利益。根据《中华人民共和国广告法》及有关法律、法规的规定，广告不得有下列情形： <br/>
1、使用中华人民共和国国旗、国徽、国歌； <br/> 
2、使用国家机关和国家机关工作人员的名义；  <br/>
3、使用国家级、最高级、最佳等用语； <br/>
4、妨碍社会安定和危害人身、财产安全，损害社会公共利益； <br/>
5、妨碍社会公共秩序和违背社会良好风尚； <br/>
6、含有淫秽、迷信、恐怖、暴力、丑恶的内容； <br/>
7、含有民族、种族、宗教、性别歧视的内容； <br/>
8、妨碍环境和自然资源保护； <br/>
9、法律、行政法规规定禁止的其他情形。
	</div>
	<input class="weui_btn weui_btn_primary" style="margin-top:28px" ng-click="showShadow()" value="我已阅读并且同意">
</div>

</article>