<article style="margin-top: 54px; ">
 	<form ng-submit="addAdver()" method="post" enctype="multipart/form-data" name="angularForm">
		<ul class="form-box">
		
			<li  class="inner">
				<div class="item-name">广告类型<b>*</b></div>
				<div style="padding-left: 5px;padding-right: 15px; ">
					<select class="select-box" ng-model="ADLimit.ad_type" id="ad-type" required>
						<option>广告类型</option>
						<option value="0">旅游</option>
						<option value="1">招工</option>
						<option value="2">其他</option>				
					</select>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">广告名称<b>*</b></div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="ADLimit.ad_title" required>
					</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-name">联系人<b>*</b></div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="ADLimit.ad_name" required>
					</div>
				</div>
			</li>
			
<!-- 			<li class="inner" style="height:auto">
				<div class="item-name">联系方式<b>*</b></div>
				<div class="item-value">
					<div class="input-wrap">
						<input class="select-box" type="text" ng-model="ADLimit.ad_tel" ng-blur="checknum(ADLimit.ad_tel)" required>
					</div>
					<div class="limitNum">请输入正确的手机号码</div>
				</div>
			</li>  -->
			
			<li class="inner addTable" >
				<div class="item-name">联系方式<b>*</b></div>
				<div class="item-value">
					<div class="input-wrap">
						<input  type="text" ng-model="ADLimit.ad_tel"  required
							name="phone" ng-pattern="/^1[3|4|5|7|8]\d{9}$/">
					</div>
					<span class="formWaring"
						ng-show="angularForm.phone.$error.pattern">手机格式不正确</span>
				</div>
			</li > 

	
			<li class="inner">
                    <div class="item-name">截止日期<b>*</b></div>
                    <div class="item-value">
                    <div class="input-wrap">
                        <input class="select-box" type="date" ng-model="ADLimit.ad_etime" required>
                    </div> 
                    </div>
            </li>
			
			<li class="inner innerP">
				<div class="item-name">广告内容<b>*</b></div>
				<div class="item-value">
					<div class="p-wrap">
						<textarea type="text" ng-model="ADLimit.ad_content" required></textarea>
					</div>
				</div>
			</li>
			
			<li class="inner innerP">
				<div class="item-name">广告备注：</div>
				<div class="item-value">
					<div class="p-wrap">
						<textarea type="text" ng-model="ADLimit.ad_remark" ></textarea>
					</div>
				</div>
			</li>
			
			<li class="inner">
				<div class="item-value" style="margin-right:90px">
					<div class="a-wrap">
						<input type="submit" class="weui_btn weui_btn_primary" value="提交" ng-disabled="angularForm.$invalid" >
					</div>
 				</div>
			</li>
			
		</ul>
		
	</form>
</article>