<article style="margin-top: 48px;">
	<form ng-submit="selectAdver()" method="post" enctype="multipart/form-data" style="overflow:hidden;">
	   <ul class="form-box">
			<li>
				<div>
					<select class="select-box" ng-model="ADSLimit.ad_type" id="ad-type" required>
						<option>请选择</option>
						<option value="0">旅游</option>
						<option value="1">招工</option>
						<option value="2">其他</option>				
					</select>
				</div>
			</li>	
			<li class="inner"> 
				<div class="item-value" style="margin-right:90px">
					<div class="a-wrap">
						<input type="submit" class="weui_btn weui_btn_primary" value="查询" >
					</div>
				</div>
			</li>	
               
		</ul>
	</form>
    
     <div ng-model="order" style="width:127px;margin:auto;" >
		<input type="radio" name="radio" ng-model="order" value="ad_content" style="-webkit-appearance:radio;"><span>按名称</span>
		<input type="radio" name="radio" ng-model="order" value="ad_name" style="-webkit-appearance:radio;"><span>按内容</span>
	</div>
               
	<form class="weui_cell" ng-repeat="ad in adList | orderBy:order "> 
                <div class="weui_cell_bd weui_cell_primary">
                    <div class="wuliao-title">
                        <label>广告名称：</label>
                        <span>{{ad.ad_title}}</span>
                    </div>
                    <div class="detail clearfix">
                        <span class="date">广告内容：{{ad.ad_content}}</span>
                    </div>
		   		<div class="detail clearfix">
                        <span class="date">联系人：{{ad.ad_name}}</span>
                        <span class="require">联系方式：<label>{{ad.ad_tel}}</label></span>
                    </div>
                    <div class="org">
                        <span>备注：{{ad.ad_remark}}</span>
                        <label class="green" ng-click="selectAderInfo(ad.ad_id)">详情</label>
                    </div>
              </div>
       </form>
       
</article>

