<article style="margin-top: 48px;">
		<form ng-submit="selectAdver()" method="post" enctype="multipart/form-data" style="overflow:hidden;">
	    <ul class="form-box">
	    
			 <li style="border:groove;margin:2px;height:30px;">
                    <input type="text" placeholder="按广告类型模糊搜索" 
                           style="height:25px;margin:auto;" ng-model="ADLimit.ad_type" required>
               </li>	
               <li class="inner"> 
                   <div class="item-value" style="margin-right:90px">
                        <div class="a-wrap">
				           <input type="submit" class="weui_btn weui_btn_primary" value="查询" >
                        </div>
                   </div>
               </li>	
               
		</ul>
	</form>
	
	
	<form class="weui_cell" ng-repeat="ad in adList">
                <div class="weui_cell_bd weui_cell_primary">
                    <div class="wuliao-title">
                        <label>广告名称：</label>
                        <span>{{ad.ad_title}}</span>
                    </div>
                    <div class="detail clearfix">
                        <span class="date">广告内容：{{ad.ad_content}}</span>
                    </div>
		   		<div class="detail clearfix">
                        <span class="date">联系人：{{ad.ad_name}}</span>
                        <span class="require">联系方式：<label>{{ad.ad_tel}}</label></span>
                    </div>
                    <div class="org">
                        <span>备注：{{ad.ad_remark}}</span>
                        <label class="green">详情</label>
                    </div>
              </div>
       </form>
</article>

