<header >
	<div class="titlebar reverse">
		<h1>通告</h1>
	</div>
	<ul class="tabbar animate-slide width-full" data-col="2" id="tabbar">
		<li class="tab" ng-class="{true:'active',false:'inactive'}[show.isActive1]" ng-click="changeBar(1)">
			<label class="tab-label">已付款</label>
		</li>
		<!-- <li class="tab" ng-class="{true:'active',false:'inactive'}[show.isActive2]" ng-click="changeBar(1)">
			<label class="tab-label">待付款</label>
		</li> -->
		<li class="tab" ng-class="{true:'active',false:'inactive'}[show.isActive3]" ng-click="changeBar(2)">
			<label class="tab-label">已退款</label>
		</li>
	<hr>
	</ul>
</header>

<article style="margin-top: 90px;">
	<div class="weui_cell" ng-repeat="MTT in MTTInfo">
		<div class="weui_cell_bd weui_cell_primary">
			<div class="wuliao-title">
					<label>主题：</label>
					{{MTT.travel.travel_title|trtrFilter}}
	        </div>

	        <div class="detail clearfix">
				<span class="require">购买成人票数：{{MTT.trtr_cnum|trtrFilter}}</span>
			</div>
			
			 <div>
	        	<span class="require">购买儿童票数：{{MTT.trtr_mnum|trtrFilter}}</span>
	        </div>
	        
			<div class="detail clearfix">
				<span class="require">旅游路线：{{MTT.travel.travel_route|trtrFilter}}</span>
			</div>
			
			<div class="detail clearfix">
				<span class="require">出发时间：{{MTT.travel.travel_stime.time | dateType}}</span>
			</div>
			
			<div class="detail clearfix">
				<span class="require">承办公司：{{MTT.travel.travel_firm|trtrFilter}}</span>
			</div>
			
			<div>
				<span class="require">联系方式：<label>{{MTT.travel.travel_tel|trtrFilter}}</label></span>
			</div>
			
			<div class="org">
				<span>活动描述：{{MTT.travel.travel_content|cutString|trtrFilter}}</span>
			</div>
			<div class="org">
               <label class="green" ng-click="getMyTravelTradeById(MTT)">详情</label>
           </div>
		</div>
	</div>
	
	<div class="limitHint">没有更多了！</div>
</article>