<article style="margin-top: 54px;">
<form ng-submit="addTravelTrade()" method="post" enctype="multipart/form-data" name="angularForm"
 		style="overflow:hidden;">
 	<div>
		<ul class="form-box">

			<li class="inner addTable">
				<div class="item-name">客户电话：<span style="color: red">*</span></div>
				<div class="item-value">
					<div class="input-wrap">
						<input type="text" ng-model="TradeLimit.trtr_tel" name="cuphone" ng-pattern="/^1[3|4|5|7|8]\d{9}$/" required>
						<span class="formWarning" ng-show="angularForm.cuphone.$error.pattern">手机格式不正确</span>
					</div>
				</div>
			</li>
			<li class="inner">
                    <div class="item-name">购买的成人票数：<span style="color: red">*</span></div>
                    <div class="item-value">
                    <div class="input-wrap">
                            <input type="nunber" class="select-box" ng-model="TradeLimit.trtr_mnum" required>
                        </div>                
                    </div>
			</li>
			<li class="inner">
                    <div class="item-name">购买的儿童票数：</div>
                    <div class="item-value">
                    <div class="input-wrap">
                            <input type="nunber" class="select-box" ng-model="TradeLimit.trtr_cnum" placeholder="此项可为空">
                        </div>       
                    </div>
			</li>
			<li class="inner">
                    <div class="item-value" style="margin-right:90px">
                         <div class="a-wrap">
                           <input type="submit" class="weui_btn weui_btn_primary" value="提交">
                         </div>
                         </div>
 				    </div>
			</li>
            </ul>
   </div>
   </form>
        </article>